.location__description {
  margin: 0;
  padding: 0;
  grid-area: description;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

@media screen and (max-width: 1024px) {
  .location__description {
    gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .location__description {
    padding: 0 16px;
  }
}
