.content {
display: grid;
grid-template-columns: 1fr;
gap: 92px;
grid-template-areas:
"lead"
"intro"
"photo-grid"
"places"
"cover";
}



@media screen and (max-width: 1023px) {
  .content {
    gap: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768)));
    }
}

@media screen and (max-width: 767px) {
  .content {
    gap: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320)));
  }
}
