.place__website-link {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity 0.3s;
  text-decoration-line: underline;
}

.place__website-link:hover {
  opacity: 0.8;
}
