.footer {
  padding: 92px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768))) 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320))) 0 24px;
  }
}

