.footer {
  margin: 0 auto;
  padding: 92px 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: calc(100% - 48px*2);
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: calc(88px + (92 - 88) * ((100vw - 768px) / (1024 - 768))) 0 24px;
    max-width: calc(100% - 24px*2);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: calc(64px + (88 - 64) * ((100vw - 320px) / (768 - 320))) 0 24px;
    gap: 48px;
    max-width: calc(100% - 16px*2);
  }
}

