.place-list {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  list-style-type: none;
}

@media screen and (max-width: 1023px) {
  .place-list {
    gap: 72px;
  }
}

@media screen and (max-width: 767px) {
  .place-list {
    gap: 50px;
  }
}
